body {
    margin: 0 auto;
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
    max-width: 1200px;
    min-width: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Bodoni MT Condensed','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container{
    margin-bottom: 100px; 
  }

p {
    text-align: justify;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    /*padding-bottom: 50px;
    */
}

li{
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}

i {
    color: #ff87ab;
}

h1 {
    font-size: 50px;
    background: linear-gradient(to right,#b100e8, #3f37c9,#ff87ab);
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

h2 {
    font-size: 40px;
    margin-top: 100px;
    background: linear-gradient(to right, blue, violet, pink);
        -webkit-background-clip: text;color: transparent;
}



